{% extends "base.html.twig" %} 
{% block title 'Add film' %}
    
{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Ajouter un film</h1>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-md-4 col-12">
                {{ form_row(form.description) }}
            </div>           
            <div class="col-md-4 col-12">
                {{ form_row(form.tag) }}
            </div>
            <div class="col-md-4 col-12">
                {{ form_row(form.duree) }}
            </div>
            <div class="col-md-4 col-12">
                {{ form_row(form.directeur) }}
            </div>
            <div class="col-md-4 col-12">
                {{ form_row(form.producteur) }}
            </div>
            <div class="col-md-4 col-12">
                {{ form_row(form.acteurs) }}
            </div> 
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-primary">Add</button>
            </div>          
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}