{% extends 'base.html.twig' %}
{% block title %}All{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="text-decoration-none text-center text-white" href="{{ path('admin.movie.create') }}"><button class="btn btn-primary">Ajouter un film</button></a>
            </div>
            {% for movie in movies %}
            <div class="col-12 my-2">
                <div class="row border py-3">
                    <div class="col-2 border-right d-flex justify-content-center align-items-center">
                        <div class="row">
                            <div class="col-12">
                                <img src="{{ vich_uploader_asset(movie, 'imageFile') }}" class="img-thumbnail" alt="thumb"/>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <h3>{{movie.name}}</h3>
                            </div>
                        </div>
   
                    </div>
                    <div class="col-2 border-right d-flex justify-content-center align-items-center">
                        <p class="m-0">{{movie.realisateur}}</p>
                    </div>
                    <div class="col-2 border-right d-flex justify-content-center align-items-center">
                        <p class="m-0">{{movie.acteurs}}</p>
                    </div>
                    <div class="col-2 border-right d-flex justify-content-center align-items-center">
                        <p class="m-0">option over here</p>
                    </div>
                    <div class="col-2 border-right d-flex justify-content-center align-items-center">
                        <p class="m-0">{{movie.duree}}</p>
                    </div>
                    <div class="col-1 border-right d-flex justify-content-center align-items-center">
                        <a class="text-decoration-none text-center text-white" href="{{ path('admin.movie.edit', { 'id': movie.id }) }}"><button class="btn btn-primary">Edit</button></a>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <a class="text-decoration-none text-center text-white dellink" onclick="return confirm('are u sure?')" href="{{ path('admin.movie.delete', { 'id': movie.id }) }}"><button class="btn btn-danger">Delete</button></a>
                    </div>           
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}