{% extends "base.html.twig" %} 
{% block title 'Films' %}
    
{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Voici tout les {{ current_view }}</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-primary"><a class="text-light" href="{{ path('films.add') }}">Add new film</a></button>
            </div>
        {% for film in films %}
            <div class="col-12">
                <div class="row">
                    <div class="col-2">
                        <img src="https://www.joomlack.fr/images/demo.jpg" alt="test" style="width: 60px; height: 60px;"/>
                    </div>
                    <div class="col-1">
                        <h5>{{ film.nom }}</h5>
                    </div>
                    <div class="col-1">
                        <p>{{ film.description }}</p>
                    </div>
                    <div class="col-1">
                        <p>{{ film.tag }}</p>
                    </div>
                    <div class="col-1">
                        <p>{{ film.duree }}</p>
                    </div>
                    <div class="col-1">
                        <p>{{ film.directeur }}</p>
                    </div>
                    <div class="col-1">
                        <p>{{ film.producteur }}</p>
                    </div>
                    <div class="col-1">
                        <p>{{ film.acteurs }}</p>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-primary"><a class="text-light" href="{{ path('singlefilm', {slug: film.slug, id: film.id}) }}">Update</a></button>
                    </div>
                    <div class="col-1">
                        <form method="post" action="{{ path('films.delete', {slug: film.slug, id: film.id}) }}">
                        <input type="hidden"  name="_method" value="DELETE"/>
                        <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}